In [1]:
print("Hello World")

Hello World

In [1]:
print("Hello Gopichand")

Hello Gopichand

In [1]:
a=20

In [2]:
type(a)

int

In [3]:
b=11.34

In [4]:
type(b)

float

In [5]:
c='hi'

In [6]:
type(c)

str

In [7]:
c3='hello gopichand'

In [8]:
type(c3)

str

In [9]:
d=False #true

In [10]:
type(d)

bool

In [11]:
type(9)

int

In [7]:
d=2+3j

In [8]:
type(d)

complex

In [3]:
type(2)

int

In [4]:
"Today I am practicing python programming language"

'Today I am practicing python programming language'

In [5]:
'Today I am practicing python programming language'

'Today I am practicing python programming language'

In [9]:
a

(2+3j)

In [12]:
print(a)

(2+3j)

Multi-line string

In [14]:
"""Today is python 
programming 
2nd class"""

'Today is python \nprogramming \n2nd class'

In [15]:
print("""Today is 
python programming 
2nd class""")

Today is
python programming
2nd class

In [16]:
'''
Today is 
python programming 
2nd class
'''

'\nToday is \npython programming \n2nd class\n'

In [17]:
print('''
Today is 
python programming 
3rd class
''')

Today is
python programming
3rd class

In [19]:
a=15
print(a)

15

In [20]:
a=10
b=30.95
# c = 'hello'
# d = true
# e = 3+5.5j

In [21]:
'''
a = 10
b = 30.95
c = 'hello'
d = True
e = 3 + 5.5j
'''

"\na = 10\nb = 30.95\nc = 'hello'\nd = True\ne = 3 + 5.5j\n"

Variables

In [22]:
a=10

In [23]:
print(a)

10

In [26]:
a=20.55

In [27]:
print(a)

20.55

In [28]:
type(a)

float

In [29]:
a1 = 22.5

In [30]:
print(a1)

22.5

In [31]:
_1a=10.5
print(_1a)

10.5

In [32]:
a = 5.6
b = 10
c = True
d = 'hi'

In [33]:
type(a)

float

In [34]:
type(b)

int

In [35]:
type(c)

bool

In [36]:
type(d)

str

In [37]:
str(d)

'hi'

In [38]:
int(b)

10

In [39]:
float(a)

5.6

In [42]:

int(True)

1

In [43]:

float(True)

1.0

In [44]:
int(False)

0

In [45]:
float(False)

0.0

In [46]:
str(True)

'True'

In [47]:
str(False)

'False'

In [48]:

bool('hi')

True

In [49]:
bool('')

False

In [50]:
bool(400)

True

In [51]:
bool(-400.7)

True

In [52]:
bool(3)

True

In [53]:

bool(0)

False

In [54]:
bool(-9)

True

Arithmetic operators

In [55]:

a = 10
b = 8

In [56]:
a+b

18

In [57]:
a-b

2

In [58]:
1/3

0.3333333333333333

In [59]:
1/5

0.2

In [60]:
0/5

0.0

In [61]:
a*b

80

In [62]:
a//b

1

In [63]:
16%3

1

In [64]:
17%8

1

In [65]:
2 ** 3

8

In [66]:
3 ** 3

27

In [67]:
print(a)
print(b)

10
8

In [68]:
a ** b

100000000

In [69]:

4 ** 1.5

8.0

In [71]:
2 ** (1/3)

1.2599210498948732

In [72]:
True / True

1.0

In [73]:
False / False

ZeroDivisionError: division by zero

In [74]:
'hi' + 'hello'

'hihello'

In [75]:
'hello' * 3

'hellohellohello'

Relational Operators or Conditional Operators

In [76]:

1 < 2

True

In [77]:
1 > 2

False

In [78]:
2>1

True

In [79]:
1>1

False

In [80]:
3>2

True

In [81]:
1>=1

True

In [82]:
1 != 2

True

In [83]:
True == True

True

In [84]:
True != True

False

Logical Operator

In [85]:

True and True

True

In [86]:

False and True

False

In [87]:
False and False

False

In [88]:
True or True

True

In [89]:
True or False

True

In [90]:
False or False

False

In [91]:
not False

True

In [92]:
not True

False

Python Statements or Control flow

* if
* elif
* else

In [93]:
a = 20
b = 5

In [94]:

a>b

True

In [95]:

a<b

False

In [101]:
if a>b:
    print("a is minimum")
    print(a)
print("This is out of if block")

a is minimum
20
This is out of if block

In [102]:
total_amount = 12000 # hard-coding

In [103]:
total_amount > 10000

True

In [110]:
total_amount = 400
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % 
    # amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    # Discount is 5 % 
    # amount to be paid is 95%
    total_payable = total_amount * 0.95
    print("This is from else-block")
## End of if-else
print("Total amount payable is ")
print(total_payable)

This is from else-block
Total amount payable is
380.0

In [109]:
if total_amount>10000:
    total_payable = total_amount * 0.8
    print("this is from if condition")

else:
    total_payable = total_amount * 0.95
    print("This is else condition")
    
print("Total amount payable is")
print(total_payable)

this is from if condition
Total amount payable is
9600.0

In [115]:
total_amount = 200
total_amount>10000

False

In [113]:
if total_amount>10000: # Will be executed when if condition is True
    # Discount is 20 % 
    # amount to be paid is 80%
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:  # Will be executed when if condition is not True
    # Discount is 5 % 
    # amount to be paid is 95%
    total_payable = total_amount * 0.95
    print("This is from else-block")

print("Total amount payable is ")
print(total_payable)

This is from else-block
Total amount payable is
190.0

Accepting input at runtime

In [116]:
a = input("Enter any number") # The output of input function is in string format
print(a)
print(type(a))

20
<class 'str'>

In [117]:
a * 0.5

TypeError: can't multiply sequence by non-int of type 'float'

In [118]:
a * a

TypeError: can't multiply sequence by non-int of type 'str'

In [119]:
type(a)

str

In [120]:
int(a)

20

In [121]:
int(a) * 0.5

10.0

In [122]:
total_amount_str = input("Enter total amount") # The output of input function is in string format
print(total_amount_str)
print(type(total_amount_str))
total_amount = int(total_amount_str)
print(type(total_amount))

500
<class 'str'>
<class 'int'>

In [123]:
print('total_amount: ', total_amount)
if total_amount>10000:
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:
    total_payable = total_amount * 0.95
    print("This is from else-block")

print("Total amount payable is:",total_payable)

total_amount:  500
This is from else-block
Total amount payable is: 475.0

In [124]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [126]:
print("Total amount payable is:",total_payable,sep='|')

Total amount payable is:|475.0

In [135]:
total_amount = input("Enter total amount")
print(total_amount, type(total_amount))
total_amount = int(total_amount)
print(type(total_amount))

if total_amount>10000:
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:
    if total_amount >= 5000:
        total_payable = total_amount * 0.9
        print("This is from else block --> if")
    else:
        total_payable = total_amount * 0.95
        print("This is from else block --> else")
        
print("Total amount payable is:",total_payable)

12000 <class 'str'>
<class 'int'>
This is from if-block
Total amount payable is: 9600.0

In [136]:
total_amount = input("Enter total amount")
print(total_amount, type(total_amount))
total_amount = int(total_amount)
print(type(total_amount))

if total_amount>= 10000:
    total_payable = total_amount * 0.8
    print("This is from if-block")
else:
    if total_amount >= 5000:
        total_payable = total_amount * 0.9
        print("This is from else block --> if")
    else:
        total_payable = total_amount
        print("This is from else block --> else")
    # End of internal if-else
# End of outer if-else
print("Total amount payable is:",total_payable)

4500 <class 'str'>
<class 'int'>
This is from else block --> else
Total amount payable is: 4500

In [137]:
a = 'Red'

In [138]:
'Red' == 'Red'

True

In [139]:
'Red' == 'RED'

False

In [140]:
'Red'.lower() == 'RED'.lower()

True

In [141]:
'rED'.upper() == 'RED'.upper()

True

In [144]:
traffic_light = input("Enter input as RED, YELLOW, GREEN: ")
print("traffic_light: ", traffic_light)

if traffic_light.upper() == 'GREEN':
    print("Go!")
elif traffic_light.upper() == 'YELLOW':
    print("Slow down")
elif traffic_light.upper() == 'RED':
    print("Stop")
else:
    print("Invalid input.")

traffic_light:  green
Go!

In [145]:
a = 1
while a < 6:
    print(a)
    a = a + 1

1
2
3
4
5

In [25]:
list=["vishnu","gopi","yashi","srinivas","ajay"]

In [3]:
a=["vishnu","gopi","yashi","srinivas","ajay"]

In [5]:
for i in a:
    print(i.upper())

VISHNU
GOPI
YASHI
SRINIVAS
AJAY

In [16]:
print('_'.join(["vishnu", "gopi", "yashi", "srinivas", "ajay"]))

vishnu_gopi_yashi_srinivas_ajay

In [60]:
a = ["vishnu", "gopi", "yashi", "srinivas", "ajay"]

In [61]:
a

['vishnu', 'gopi', 'yashi', 'srinivas', 'ajay']

In [8]:
for i in a:
    print(i.upper(),end="_")

VISHNU_GOPI_YASHI_SRINIVAS_AJAY_

In [62]:
a.*?

a.__add__
a.__class__
a.__class_getitem__
a.__contains__
a.__delattr__
a.__delitem__
a.__dir__
a.__doc__
a.__eq__
a.__format__
a.__ge__
a.__getattribute__
a.__getitem__
a.__getstate__
a.__gt__
a.__hash__
a.__iadd__
a.__imul__
a.__init__
a.__init_subclass__
a.__iter__
a.__le__
a.__len__
a.__lt__
a.__mul__
a.__ne__
a.__new__
a.__reduce__
a.__reduce_ex__
a.__repr__
a.__reversed__
a.__rmul__
a.__setattr__
a.__setitem__
a.__sizeof__
a.__str__
a.__subclasshook__
a.append
a.clear
a.copy
a.count
a.extend
a.index
a.insert
a.pop
a.remove
a.reverse
a.sort

In [4]:
l1=[-15,2,6,15,-9,10]
a.sort()
print(a)

[-15, -9, 2, 6, 10, 15]

In [6]:
l2=[1,2,3,4,5]

In [1]:
a = [1,2,3,4,5,6]

In [63]:
a.append(102)

In [23]:
c=[0,1,2,3,4,5,6,7,8,9,10]

In [24]:
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
c.pop()

10

In [28]:
c.pop(-5)

5

In [33]:
c.clear()

In [34]:
c

[]

In [37]:
len(c)

0

In [40]:
c=[1,2,3,4,5,6,7,8,9,10]

In [41]:
len(c)

10

In [42]:
c*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
c*3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [45]:
c+c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
[1,2,3,4,5]+[6,7,8,9,10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
d=[1, 2, 3, 4,4,5,6,1,2,3,4,5,6]

In [53]:
d.sort()

In [51]:
d

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6]

In [55]:
d.count(2)

2

In [56]:
d.append(15)
d.append(11)
d.append(10)

In [1]:
odd_nums=[]
for i in range(1,100):
    if i%2==1:
        odd_nums.append(i)
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [79]:
sqrt_nums=[ ]
for i in range(1,11): 
        sqrt_nums.append(i**0.5) 
print(sqrt_nums)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [75]:
odd_nums=[]
for i in range(1,100):
    if i%2 != 0 and i%5==0:
        odd_nums.append(i)
print(odd_nums)

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95]